#Header {
  display: block;
}

#Overview {
  display: block;
}

#Booking {
  display: block;
}

#Reviews {
  display: block;
}

#CountDown {
  margin-left: 5px;
  display: inline-block;
}

#Related {
  margin: 10%;
  display: block;
}

